<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-people" role="tabpanel">
      <%= render "people/people", people: people %>
    </div>

    <div class="tab-pane fade" id="list-notes" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">Notizen</h3>
          <div id="notes">
            <%= render partial: "notes/note_with_parent", collection: notes, as: :note %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-tasks" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">Aufgaben</h3>
          <div id="tasks">
            <%= render partial: "tasks/task_with_parent", collection: @tasks, as: :task %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-tags" role="tabpanel">
      <%= render "tag_lists/tag_lists", tag_lists: tag_lists %>
    </div>

    <div class="tab-pane fade" id="list-team" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">Team</h3>
          <hr>
          <% User.all.each do |user| %>
            <%= user.username %> - <%= user.email %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-institutions" role="tabpanel">
        <%= render "institutions/institutions", institutions: institutions %>
    </div>

</div>
