<div class="card mb-3">
  <div class="card-header">
    <%= note.noteable.name %> - <%= note.noteable_type %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= simple_format(note.description) %>
    </p>
  </div>
  <div class="card-footer">
    <b>Erstellt:</b> <%= note.created_at.strftime("%d.%m.%Y %H:%M") %>  - von <b><%= User.find(note.creator_id).username unless !User.exists?(note.creator_id) %></b>
  </div>
</div>
