<h3 class="card-title">Notizen: </h3>

  <% if parent.notes.empty? %>
    <div class="card card-body mb-3">
      Keine Notizen vorhanden.
    </div>

  <% else %>
    <%= render partial: "notes/note", collection: parent.notes, as: :note %>
  <% end %>

  <p>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#note-<%= parent.id %>-new">
      <%= fa_icon "plus" %>  Notiz hinzufügen
    </button>
  </p>
  <div class="collapse" id="note-<%= parent.id %>-new">
    <%= render "notes/form", note: Note.new, parent: parent %>   <%#= render "notes/form", note: Note.new, parent: parent %>
  </div>
