<p class="card-text">
    <b>Name:</b> <%= link_to "#{person.firstname} #{person.lastname}", person_path(person) %>
</p>
<p class="card-text">
    <b>Login:</b> <%= link_to person.login, person_path(person) %>
</p>
<p class="card-text">
    <b>e-Mail:</b> <%= mail_to person.email %>
</p>

<% unless person.institutions.empty? %>
  <p> <b>Ist Mitglied bei:</b>
    <ul>
    <% person.institutions.each do |institution| %>
      <li><button type="button" class="btn btn-link"><%= institution.name %></button></li>
    <% end %>
  </ul>
  </p>
<% end %>

<% unless person.tag_list.empty? %>
  <p>
    <% person.tag_list.each do |tag| %>
      <button type="button" class="btn btn-outline-dark m-1"><%= tag %></button>
    <% end %>
  </p>
<% end %>

<%= render "shared/notes_and_tasks", parent: person %>

<hr>
