
<%= simple_form_for(task, remote: true) do |f| %> <%#= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-inputs">
    <%= f.input :deadline %>
  </div>

  <div class="form-inputs">
    <%= f.input :priority, collection: [[1, "1 - Niedrig"], [2, "2 - Normal"], [3, "3 - Hoch"]], label_method: :second, value_method: :first %>
  </div>

  <div class="form-inputs">
    <%= f.input :assigned_to_user_id, collection: User.all, label_method: :username, value_method: :id, label: "Wer ist zuständig?", include_blank: true %>
  </div>

  <%= f.hidden_field :taskable_id, value: parent.id %>
  <%= f.hidden_field :taskable_type, value: parent.class.to_s %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary", id: "task-#{task.id}-edit-button" %>
  </div>
<% end %>
