<div class="container mt-2">
  <div class="card mb-3">
    <div class="card-body">
      <h1 class="card-title">Erklärung</h1>
      <p class="card-text">
        Auf dieser Seite kann man Personen und Institutionen importieren.
      </p>
      <p class="card-text">
        Wenn eine Person importiert wird, dann wird geprüft, ob die e-Mail-Adresse bereits bei einer anderen Person vorhanden ist.
        Wenn die e-Mail-Adresse nicht vorhanden ist, dann wird eine neue Person erstellt.
        Wenn die e-Mail-Adresse vorhanden ist, dann wird keine neue Person erstellt und die bereits bestehende Person wird upgedated.
      </p>
      <p class="card-text">
        Die Felder müssen nicht alle ausgefüllt sein.
      </p>
      <p class="card-text"><small class="text-muted"><strong>Fragen und Änderungswünsche an:</strong> <%= mail_to "sandro.raess@philosophie.ch" %></small></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <h4>Personen importieren</h4>
        <p>
          <b>CSV benötigt folgende Header: </b><br />
          "firstname | lastname | email | phone | tag"
        </p>
        <p>
          Tags müssen mit einem " | " getrennt werden. Beispiel: "Sponsor | Mitglied | Stiftungsmitglied"
        </p>
        <p>
          <b>Wichtig!</b> Die Abstände müssen richtig sein. Das geht nicht: "Sponsor|  Mitglied |Stiftungsmitglied"
        </p>
        <%= form_tag import_people_path, multipart: true do %>
          <%= file_field_tag :file, class: "btn btn-secondary" %>
          <br>
          <br>
          <%= submit_tag "Importieren", class: "btn btn-primary" %>
        <% end %>
      </div>
      <hr />
      <div class="card-body">
        <h4>Institutionen importieren</h4>
        <p>
          <b>CSV benötigt folgende Header: </b>
          firstname | lastname | email | phone | tag
        </p>
        <p>
          Tags müssen mit einem " | " getrennt werden. Beispiel: Sponsor | Mitglied | Stiftungsmitglied
        </p>
        <p>
          <b>Wichtig!</b> Die Abstände müssen richtig sein. Das geht nicht: Sponsor|  Mitglied |Stiftungsmitglied
        </p>
        <%= form_tag import_people_path, multipart: true do %>
          <%= file_field_tag :file, class: "btn btn-secondary" %>
          <br>
          <br>
          <%= submit_tag "Importieren", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
