
<%= simple_form_for(address, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :form_of_address %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :company %>
    <%= f.input :street %>
    <%= f.input :plz %>
    <%= f.input :location %>
    <%= f.input :country %>
    <%= f.hidden_field :addressable_id, value: parent.id %>
    <%= f.hidden_field :addressable_type, value: parent.class.to_s %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary", id: "address-#{address.id}-edit-button" %>
  </div>
<% end %>
